attached_assets/Chatbot_6.json
{
  "name": "Chatbot 6",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "\nYou are a helpful MVP assistant designed to answer students questions \n\nRetrieve relevant information from the provided internal documents and provide complete, accurate, and informative answer to the employee's question. Keep in mind the previous messages to give a more fluid experience to the user.\n\n\nIf the answer cannot be found in the provided documents, respond with \"I cannot find the answer in the available resources.\""
        }
      },
      "id": "3e2b6f46-ac9a-47a1-ace2-8b9b64ac7394",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -40,
        840
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "Data",
        "toolDescription": "Knowledge on the foot",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {}
      },
      "id": "e8fe6668-7348-410a-be39-917744ebdfe9",
      "name": "Pinecone Vector Store (Retrieval)",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        160,
        1320
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "P0agjGwWkrENwDdx",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 1000
      },
      "id": "6ea0c6d5-a59a-4240-9f0a-80e0f840f832",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        0,
        1100
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "88ddc3f2-b181-4d53-842f-db699a91b5e3",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -380,
        840
      ],
      "webhookId": "5f1c0c82-0ff9-40c7-9e2e-b1a96ffe24cd",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -260,
        1120
      ],
      "id": "7481f4a6-14df-486e-a55a-c2f816ef17bf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "IxCPY0KEovfevgKU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        360,
        1460
      ],
      "id": "cc7fb235-0166-4a1b-89de-915f6f085072",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "IxCPY0KEovfevgKU",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Pinecone Vector Store (Retrieval)": {
      "ai_vectorStore": [
        []
      ],
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Retrieval)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4c6cc8a8-9be0-4280-82fe-6d024dada04a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1583bf2b39e055effc627c70d3eac972ab8a69d2f1b7d2991f0ace57cf924c33"
  },
  "id": "bwhNj5iQ9uwAb23d",
  "tags": []
}